PyCity Schools Analysis

In [3]:
# Dependencies 
import pandas as pd
import numpy as np

# Name files 
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

complete_data_df = pd.merge(school_data_df, student_data_df, how="left", on=["school_name", "school_name"])
complete_data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [4]:
num_schools = school_data_df["school_name"]
total_number_of_unique_schools_dis = num_schools.size
total_number_of_unique_schools_dis

15

In [5]:
num_students = complete_data_df["student_name"]
total_students_dis = num_students.size
total_students_dis

39170

In [6]:
unique_budgets = complete_data_df["budget"].unique()
total_budget_dis = unique_budgets.sum()
total_budget_dis

24649428

In [7]:
average_math_score_dis = complete_data_df["math_score"].mean()
average_math_score_dis

78.98537145774827

In [8]:
average_reading_score_dis = complete_data_df["reading_score"].mean()
average_reading_score_dis

81.87784018381414

In [9]:
passing_math_count = complete_data_df[(complete_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percent_dis = (passing_math_count) / (num_students.size) * 100
passing_math_percent_dis

74.9808526933878

In [10]:
passing_reading_count = complete_data_df[(complete_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent_dis = (passing_reading_count / num_students.size) * 100
passing_reading_percent_dis

85.80546336482001

In [11]:
overall_passing_count = complete_data_df[(complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_percent_dis = (overall_passing_count / num_students.size) * 100
overall_passing_percent_dis

65.17232575950983

School Summary

In [12]:
# school name
school_name_sch = complete_data_df["school_name"].unique()
school_name_sch

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [13]:
# school type

school_types_sch = school_data_df.set_index(["school_name"])["type"]
school_types_sch

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
# total students

total_students = complete_data_df.groupby("school_name")
total_students_count_sch = total_students["student_name"].count()
total_students_count_sch

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [15]:
# total school budget

school_budgets_sch = school_data_df.set_index(["school_name"])["budget"]
school_budgets_sch

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [16]:
# per student budget

total_students = complete_data_df.groupby("school_name")
total_students_count = total_students["student_name"].count()

school_budgets = school_data_df.set_index(["school_name"])["budget"]

per_student_budget_sch = school_budgets / total_students_count
per_student_budget_sch

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
# Average Math score

school_groups = complete_data_df.groupby("school_name")
total_math_score = school_groups["math_score"].sum()

school_groups = complete_data_df.groupby("school_name")
total_students = school_groups["student_name"].count()

average_math_score_sch = total_math_score / total_students
average_math_score_sch

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
dtype: float64

In [18]:
# Average Reading Score

school_groups = complete_data_df.groupby("school_name")
total_reading_score = school_groups["reading_score"].sum()

school_groups = complete_data_df.groupby("school_name")
total_students = school_groups["student_name"].count()

average_reading_score_sch = total_reading_score / total_students
average_reading_score_sch

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [19]:
school_pass_math_count = complete_data_df[complete_data_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
school_pass_math_count

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [20]:
school_pass_reading_count = complete_data_df[complete_data_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
school_pass_reading_count

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [21]:
school_math_pass_perc = school_pass_math_count / total_students_count * 100
school_reading_pass_perc = school_pass_reading_count / total_students_count * 100

passing_math_and_reading = complete_data_df[
    (complete_data_df["reading_score"] >= 70) & (complete_data_df["math_score"] >= 70)]

school_pass_math_and_reading = passing_math_and_reading.groupby("school_name")
school_pass_math_and_reading_count = school_pass_math_and_reading["student_name"].count()
school_pass_math_and_reading_perc = school_pass_math_and_reading_count / total_students_count * 100
school_pass_math_and_reading_perc

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [44]:
# District Summary

district_summary_dict = {
    "Total number of unique schools": total_number_of_unique_schools_dis,
    "Total students": total_students_dis,
    "Total Budget": total_budget_dis,
    "Average math score": average_math_score_dis,
    "Average reading score": average_reading_score_dis,
    "% passing math (percentage of students who passed math)": passing_math_percent_dis,
    "% passing reading (the percentage of students who passed reading)": passing_reading_percent_dis,
    "% overall passing (the percentage of students who passed math AND reading)": overall_passing_percent_dis    
}

district_summary = pd.DataFrame(district_summary_dict, index=[0])
district_summary

,Total number of unique schools,Total students,Total Budget,Average math score,Average reading score,% passing math (percentage of students who passed math),% passing reading (the percentage of students who passed reading),% overall passing (the percentage of students who passed math AND reading)
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [42]:
# School Summary

school_summary_dict = {
    "School type": school_types_sch,
    "Total students": total_students_count_sch,
    "Total school budget": school_budgets_sch,
    "Per student budget": per_student_budget_sch,
    "Average math score": average_math_score_sch,
    "Average reading score": average_reading_score_sch,
    "% passing math (the percentage of students who passed math)": school_math_pass_perc,
    "% passing reading (the percentage of students who passed reading)": school_reading_pass_perc,
    "% overall passing (the percentage of students who passed math AND reading)": school_pass_math_and_reading_perc 
}

school_summary = pd.DataFrame(school_summary_dict)
school_summary.set_index="school_name"
school_summary.index.name = None
school_summary

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,% passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading),% overall passing (the percentage of students who passed math AND reading)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

Highest-Performing Schools (by % Overall Passing)

In [40]:
# Highest-Performing Schools (by % Overall Passing)
highest_performing_schools = school_summary.sort_values(by=["% overall passing (the percentage of students who passed math AND reading)"], ascending=False)
top_schools = highest_performing_schools.head()
top_schools.index.name = None
top_schools

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,% passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading),% overall passing (the percentage of students who passed math AND reading),Spending Ranges (Per Student),School size
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)

Bottom-Performing Schools (by % Overall Passing)

In [39]:
# Lowest-Performing Schools (by % Overall Passing)
lowest_performing_schools = school_summary.sort_values(by=["% overall passing (the percentage of students who passed math AND reading)"], ascending=True)
bottom_schools = lowest_performing_schools.head()
bottom_schools.index.name = None
bottom_schools

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,% passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading),% overall passing (the percentage of students who passed math AND reading),Spending Ranges (Per Student),School size
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)

Math Scores by Grade

In [50]:
# Seperate data by grade
ninth_graders = complete_data_df[(complete_data_df["grade"] == "9th")]
tenth_graders = complete_data_df[(complete_data_df["grade"] == "10th")]
eleventh_graders = complete_data_df[(complete_data_df["grade"] == "11th")]
twelfth_graders = complete_data_df[(complete_data_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each
ninth_graders_scores = complete_data_df.groupby(["school_name"])["math_score"].mean()
tenth_graders_scores = complete_data_df.groupby(["school_name"])["math_score"].mean()
eleventh_graders_scores = complete_data_df.groupby(["school_name"])["math_score"].mean()
twelfth_graders_scores = complete_data_df.groupby(["school_name"])["math_score"].mean()

# Create dict
math_by_grade_dict = {
    "9th": ninth_graders_scores,
    "10th": tenth_graders_scores,
    "11th": eleventh_graders_scores,
    "12th": twelfth_graders_scores
}

math_by_grade_df = pd.DataFrame(math_by_grade_dict)
math_by_grade_df.index.name = None
math_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.048432  77.048432  77.048432  77.048432
Cabrera High School    83.061895  83.061895  83.061895  83.061895
Figueroa High School   76.711767  76.711767  76.711767  76.711767
Ford High School       77.102592  77.102592  77.102592  77.102592
Griffin High School    83.351499  83.351499  83.351499  83.351499
Hernandez High School  77.289752  77.289752  77.289752  77.289752
Holden High School     83.803279  83.803279  83.803279  83.803279
Huang High School      76.629414  76.629414  76.629414  76.629414
Johnson High School    77.072464  77.072464  77.072464  77.072464
Pena High School       83.839917  83.839917  83.839917  83.839917
Rodriguez High School  76.842711  76.842711  76.842711  76.842711
Shelton High School    83.359455  83.359455  83.359455  83.359455
Thomas High School     83.418349  83.418349  83.418349  83.418349
Wilson High School     83.274201  83.274201  83.274201  83.274201
Wright High School     83.682222  83.682222  83.682222  83.682222

Reading Scores by Grade

In [53]:
# Seperate data by grade
ninth_graders = complete_data_df[(complete_data_df["grade"] == "9th")]
tenth_graders = complete_data_df[(complete_data_df["grade"] == "10th")]
eleventh_graders = complete_data_df[(complete_data_df["grade"] == "11th")]
twelfth_graders = complete_data_df[(complete_data_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each
ninth_graders_scores = complete_data_df.groupby(["school_name"])["reading_score"].mean()
tenth_graders_scores = complete_data_df.groupby(["school_name"])["reading_score"].mean()
eleventh_graders_scores = complete_data_df.groupby(["school_name"])["reading_score"].mean()
twelfth_graders_scores = complete_data_df.groupby(["school_name"])["reading_score"].mean()

# Create dict
reading_by_grade_dict = {
    "9th": ninth_graders_scores,
    "10th": tenth_graders_scores,
    "11th": eleventh_graders_scores,
    "12th": twelfth_graders_scores
}

reading_by_grade_df = pd.DataFrame(reading_by_grade_dict)
reading_by_grade_df.index.name = None
reading_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.033963  81.033963  81.033963  81.033963
Cabrera High School    83.975780  83.975780  83.975780  83.975780
Figueroa High School   81.158020  81.158020  81.158020  81.158020
Ford High School       80.746258  80.746258  80.746258  80.746258
Griffin High School    83.816757  83.816757  83.816757  83.816757
Hernandez High School  80.934412  80.934412  80.934412  80.934412
Holden High School     83.814988  83.814988  83.814988  83.814988
Huang High School      81.182722  81.182722  81.182722  81.182722
Johnson High School    80.966394  80.966394  80.966394  80.966394
Pena High School       84.044699  84.044699  84.044699  84.044699
Rodriguez High School  80.744686  80.744686  80.744686  80.744686
Shelton High School    83.725724  83.725724  83.725724  83.725724
Thomas High School     83.848930  83.848930  83.848930  83.848930
Wilson High School     83.989488  83.989488  83.989488  83.989488
Wright High School     83.955000  83.955000  83.955000  83.955000

Scores by School Spending

In [35]:
# Scores by School Spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per student budget"], bins=spending_bins, labels=labels)

spending_math_scores = school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average math score"]
spending_reading_scores = school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average reading score"]
spending_passing_math = school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% passing math (the percentage of students who passed math)"]
spending_passing_reading = school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% passing reading (the percentage of students who passed reading)"]
overall_passing_spending = school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% overall passing (the percentage of students who passed math AND reading)"]

spend_dict = {
    "Average math score": spending_math_scores,
    "Avergage reading score": spending_reading_scores,
    "% passing math": spending_passing_math,
    "% passing reading": spending_passing_reading,
    "% overall passing": overall_passing_spending
}

spending_summary = pd.DataFrame(spend_dict)
spending_summary.head()

,Average math score,Avergage reading score,% passing math,% passing reading,% overall passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [36]:
# Scores by School Size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary["School size"] = pd.cut(school_summary["Total students"], bins=size_bins, labels=labels)

size_math_scores = school_summary.groupby(["School size"]).mean()["Average math score"]
size_reading_scores = school_summary.groupby(["School size"]).mean()["Average reading score"]
size_passing_math = school_summary.groupby(["School size"]).mean()["% passing math (the percentage of students who passed math)"]
size_passing_reading = school_summary.groupby(["School size"]).mean()["% passing reading (the percentage of students who passed reading)"]
size_overall_passing = school_summary.groupby(["School size"]).mean()["% overall passing (the percentage of students who passed math AND reading)"]
                                                
size_dict = {
    "Average math score": size_math_scores,
    'Average reading score': size_reading_scores,
    '% passing math': size_passing_math,
    '% passing reading': size_passing_reading,
    '% overall passing': size_overall_passing
}

size_summary = pd.DataFrame(size_dict)
size_summary

,Average math score,Average reading score,% passing math,% passing reading,% overall passing
School size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [37]:
# Scores by School Type

school_summary.groupby(["School type"])

type_math_scores = school_summary.groupby(["School type"]).mean()["Average math score"]
type_reading_scores = school_summary.groupby(["School type"]).mean()["Average reading score"]
type_passing_math = school_summary.groupby(["School type"]).mean()["% passing math (the percentage of students who passed math)"]
type_passing_reading = school_summary.groupby(["School type"]).mean()["% passing reading (the percentage of students who passed reading)"]
type_overall_passing = school_summary.groupby(["School type"]).mean()["% overall passing (the percentage of students who passed math AND reading)"]

type_dict= {
    "Average math score": type_math_scores,
    'Average reading score': type_reading_scores,
    '% passing math': type_passing_math,
    '% passing reading': type_passing_reading,
    '% overall passing': type_overall_passing
}

type_summary = pd.DataFrame(type_dict)
type_summary

,Average math score,Average reading score,% passing math,% passing reading,% overall passing
School type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208